//META{"name":"NEW SKIN","description":"New Skin","author":"명아연#1004","version":"0.6"}*//
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:500&display=swap&subset=korean');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/********************************* 폰트 불러오기 *********************************/



/************************************************* 건들지마세요 */
:root {
	--unreadBox: rgba(0, 0, 0, .85);
	--backgroundcolor :rgba(0, 0, 0, .55);
	--backgroundcolor2 : transparent;
	--text-normal: #FFF;
	--text-muted: rgba(255, 255, 255, .7);
}



/* 배경화면 이미지 */
#app-mount {
	background-image: url(https://i.imgur.com/8pit0BY.jpg);
	background-size: cover;
}



/********************************** 투명화 *********************************/
.app-2rEoOp, .wrapper-1Rf91z, .container-1D34oG, .privateChannels-1nO12o, .panels-j1Uci_, .container-PNkimc, .chat-3bRxxu, .applicationStore-1pNvnv, .standardSidebarView-3F1I7i {
	background-color: var(--backgroundcolor) !important;
}
.sidebar-2K8pFh, .container-1r6BKw, .nowPlayingColumn-2sl4cE, .sidebarRegionScroller-3MXcoP, .contentRegion-3nDuYy {
	background: var(--backgroundcolor2) !important;
}
.bg-h5JY_x, .appMount-3lHmkl, .app-2rEoOp, .scroller-2TZvBN, .scroller-1JbKMe, .messages-3amgkR, .members-1998pB, .listContent-2_qb-y.da-listContent, .scroller-9moviB, .layer-3QrUeG, .contentRegionScroller-26nc1e, .scroller-305q3I {
	background-color: var(--backgroundcolor2) !important;
}
.children-19S4PO:after, .form-2fGMdU:before {
	display: none;
}
/**************************************************************************/



/************************************* 타이틀바 관련 *************************/
div[class^="typeWindows-"] div[class^="wordmark"] svg {
	display: none;
} /************************************************ 기존 디스코드 제목 */
div[class^="typeWindows-"] {
	height: 28px;
	margin-top: 0;
	z-index: 999;
	background: var(--backgroundcolor);
	padding-bottom: 5px;
} /************************************************ 메인 타이틀바 */
div[class^="typeWindows-"] div[class^="wordmark"]::after {
	content: "DISCORD";
	font-family: 'Do Hyeon', sans-serif;
	font-size: 24px;
	color: #fff;
	position: absolute;
	display: block;
	left: 45%;
	top: 80%;
} /************************************************ 커스텀 디스코드 제목 */
div[class*="titleBar-"] div[class*="winButton-"] {
	width: 40px;
	height: 25px;
	opacity: 1;
	top: 4px;
	margin-right: 4px;
} /************************************************ 버튼 간격 */
div[class*="titleBar-"] div[class*="winButtonClose-"]:hover {
	background-color: rgba(255, 0, 0, .75);
} /************************************************ 종료 버튼 마우스 반응 */
div[class*="titleBar-"] div[class*="winButtonMinMax-"]:hover {
	background-color: rgba(0, 0, 0, .3);
} /************************************************ 최소화, 최대화 버튼 마우스 반응 */
div[class^="winButtonClose-"] svg {
	display: none;
} /************************************************ 기존 종료 버튼 */
div[class^="winButtonMinMax-"] svg {
	display: none;
} /************************************************ 기존 최소화, 최대화 버튼 */
.da-winButtonClose:after {
	content: 'ㅁ';
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
} /************************************************ 종료 버튼 */
.da-winButton:nth-of-type(3):after {
	content: 'ㅁ';
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
} /************************************************ 최대화 버튼 */
.da-winButton:nth-of-type(4):after {
	content: "ㅁ";
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	color: #FFF;
} /************************************************ 최소화 버튼 */
/*div[class^="typeWindows-"] div[class^="wordmark"]::before {
	content: url("https://i.imgur.com/FPV2A39.png");
	transform: scale(.06);
	position: fixed;
	display: block;
	left: -392px;
	top: -200px;
} 디스코드 커스텀 아이콘 비활성 */
/************************************************************************************/



/*********************************** 서버 사이드바 ***********************************/
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
	background: var(--backgroundcolor2);
} /************************* 홈버튼 배경 *************************/
div[class^="listItemWrapper-"] div[class^="childWrapper-"] svg {
	display: none;
} /************************* 기존 홈버튼 *************************/
div[class^="listItemWrapper-"] div[class^="childWrapper-"]:after {
	content: url('https://i.imgur.com/Vg8No6V.gif');
	transform: scale(.3);*
} /************************* 커스텀 홈버튼 ***********************/
.childWrapper-anI2G9 {
	background-color: var(--backgroundcolor2);
} /************************* 서버 아이콘 배경 ********************/
div[class^="pill-1m5BUr"], div[class^="pill-31IEus"] {
	width: 15px;
} /************************* 애니메이션 짤림 *********************/
.bd-selected div[class^="pill-31IEus"] .item-2hkk8m {
	height: 30px;
	transition: height 0s;
	transition-timing-function: ease-in;
} /************************* 서버 알림 크기 조절 ****************/
div[class^="numberBadge-"], .pill-1m5BUr .item-2hkk8m, .bd-unread .item-2hkk8m, .bar-30k2ka {
	animation: New 1.8s infinite;
} /************************* 애니메이션 적용 ********************/
.circleIconButton-jET_ig, .circleIconButton-jET_ig:hover, .circleIconButton-jET_ig.selected-ugP_am {
	background-color: var(--backgroundcolor2);
	color: #FFF;
} /******************* 서버 추가, 공개 채널 아이콘 ***************/
/************************************************************************************/



/************************************ 비공개 채널 ***********************************/
.platform-win .sidebar-2K8pFh {
	border-radius: 0;
} /* 사이드바 모서리 */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
	background-color: var(--backgroundcolor);
} /* 검색창 배경 */
.selected-aXhQR6 .layout-2DM8Md {
	background-color: rgba(0, 0, 0, .6);
} /* 채널 선택 배경 */
.selected-aXhQR6.container-2Pjhx- {
	color: var(--text-normal);
} /* 채널 선택 글씨 색상 */
.container-2Pjhx- {
	color: var(--text-muted);
} /* 채널 비활성 글씨 색상 */
.container-2Pjhx-:hover {
	background-color: rgba(0, 0, 0, .3);
} /* 채널 마우스 반응 */
.container-2ax-kl, .clickable-3rdHwn .icon-22AiRD {
	color: var(--text-normal);
}/* 개인 메시지 글씨 색상 */
.container-2Rl01u:hover {
	background-color: rgba(0, 0, 0, .5);
} /* 서버 이름 마우스 반응 */
.modeSelected-1zApJ_ .content-3at_AU {
	background-color: rgba(0, 0, 0, .45);
} /* 선택된 채팅 채널 배경 */
.content-3at_AU.da-content:hover {
	background-color: rgba(0, 0, 0, .6);
} /* 채팅 채널 마우스 반응 */
.modeSelected-1zApJ_ .icon-1_QxNX, .modeSelected-1zApJ_ .name-3_Dsmg, .actionIcon-2Hi9Z, .modeConnected-2IEL4z .icon-1_QxNX, .modeConnected-2IEL4z .name-3_Dsmg {
	color: var(--text-normal);
} /* 선택된 채팅, 음성 채널 색상 */
.icon-1-QxNX, .name-3_Dsmg {
	color: var(--text-muted);
} /* 채팅 채널 색상 */
.modeMuted-3osy7j .icon-1_QxNX, .modeMuted-3osy7j .name-3_Dsmg, .wrapper-CU3qI5.muted-1NRuDm, .wrapper-CU3qI5.muted-1NRuDm .name-IbjUBS {
	color: rgba(255, 255, 255, .3);
} /* 알림 끈 채널, 카테고리 색상 */
.voiceUser-14U_Ns .username-lm8y6T, .icon-3BcwQu {
	color: var(--text-muted);
} /* 음성 채팅 유저 색상 */
.modeLocked-SZJhTy .icon-1_QxNX, .modeLocked-SZJhTy .name-3_Dsmg {
	color: rgba(243, 88, 88, .85)
} /* 잠긴 음성 채팅 색상 */
.children-Bmpf2Q .wrapper-pZmgj4 {
	color: var(--text-normal);
} /* 음성 채팅 인원수 글씨 색상 */
.users-i_3-kL {
	background-color: var(--backgroundcolor2);
} /* 음성 채팅 접속중인 인원 배경 */
.total-3tKGEB {
	background-color: rgba(25, 25, 25, .8);
} /* 음성 채팅 최대인원 배경 */
.total-3tKGEB::after {
	border-right-color: rgba(25, 25, 25, .8);
} /* 음성 채팅 최대인원 배경_2 */
/***********************************************************************************/



/********************************** 사용자 영역 *************************************/
.panel-24C3ux .button-14-BFJ, .container-1giJp5 .button-14-BFJ, .container-3baos1 .button-14-BFJ {
	color: rgba(255, 255, 255, .8);
} /* 버튼 색상 */
.panel-24C3ux .button-14-BFJ:hover, .container-1giJp5 .button-14-BFJ:hover, .container-3baos1 .button-14-BFJ:hover {
	background-color: rgba(0, 0, 0, .6);
} /* 175 마우스 반응 */
.subtext-3CDbHg {
	color: var(--text-normal);
} /* 음성 글씨 색상 */
.button-1YfofB.buttonColor-7qQbGO {
	background-color: var(--backgroundcolor2);
	color: var(--text-normal);
} /* 동영상, 화면공유 버튼 배경, 폰트 색상 */
.button-1YfofB.buttonColor-7qQbGO:hover {
	background-color: rgba(0, 0, 0, .4);
} /* 188 마우스 반응 */

/***********************************************************************************/



/*********************************** 채팅 헤더 **************************************/
.icon-22AiRD, .topic-TCb_qw {
	color: var(--text-normal);
} /* 채팅 채널 헤더 글씨 색상 */
.divider-3FBTu8 {
	background: rgba(255, 255, 255, .7)
} /* 채팅 채널 주제 실선 색상 */
/***********************************************************************************/



/********************************* 프레임 애니메이션 *********************************/
@-webkit-keyframes New {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
	}
	70% {
		-webkit-box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
/************************************************************************************/



/* 경고창 관련 
div[class^="noticeDanger-"] {
	background: transparent;
	border-radius: 0;
	box-shadow: none;
	line-height: 30px;
}
div[class^="noticeDanger-"] div[class^="dismiss-"] {
	opacity: .8;
	width: 30px;
	height: 30px;
	margin-right: 8px;
}
div[class^="noticeDanger-"] .button-1MICoQ {
	top: 3px;
}*/



/* 스트리머 모드 관련 
div[class^="noticeStreamerMode-"] {
	background: transparent;
	position: absolute;
	border-radius: 0;
	font-size: 0;
	bottom: 0%;
	box-shadow: none;
	margin-bottom: 1.2%;
	margin-left: 1.4%;
	width: 190px;
	height: 15px;
	/*display: none;*//*/
}
div[class^="noticeStreamerMode-"]:before {
	content: '스트리머 모드중';
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
div[class^="noticeStreamerMode-"] div[class^="dismiss-"] {
	display: none;
}*/



/* 플러그인 알림창
#pluginNotice {
	background-color: transparent;
	position: absolute;
	box-shadow: none;
	z-index: 999;
	top: -3.7%;
}
#pluginNotice, .notice-message {
	visibility: hidden;
}
#pluginNotice, .notice-message:after {
	content: "플러그인 업데이트가 필요한 목록 -";
	visibility: visible;
	font-size: 12px;
}*/



/*
div[class^="noticePremiumGrandfathere"] {
	background: transparent;
}*/



/* 상태창 관련 
div[class^="container-3baos1"] {
	margin-bottom: 15%;
}
div[class^="container-3baos1"] .avatarWrapper-2yR4wp:after {
	position: absolute;
	content: url(https://i.imgur.com/C4Xy26n.png);
	margin-top: -91px;
	margin-left: -150px;
	transform: scale(.20);
}*/


/* 읽지않은 알림
.unread-1xRYoj {
	background-color: var(--unread);
	opacity: .85;
}*/





/* 스크롤바
::-webkit-scrollbar {
	width: 9px !important;
}
::-webkit-scrollbar-track {
	background: rgba(255, 255, 255, .25) !important;
	border-radius: 10px !important;
}
::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border: none !important;
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .5) !important;
	border: none !important;
}*/

/* 사용자 프로필 배경 반투명
.body-3ND3kc {
	background-color: rgba(25, 25, 25, .5);
}*/

/* 채팅입력칸 스크롤바수정
.scrollableContainer-2NUZem {
	overflow-y: auto;
}*/

/* 채팅입력칸 아이콘 정렬
.webkit-HjD9Er .buttons-3JBrkn {
	margin-right: 2px;
}*/

/* 멤버 목록 스크롤바 수정
.members-1998pB {
	overflow-y: auto;
}*/

/* 이모지 선택창 배경
.emojiPicker-3m1S-j {
	background-color: rgba(25, 25, 25, .5);
	border-radius: 8px;
}*/

/*
.infoBar-U6oBFk {
	background-color: rgba(25, 25, 25, .5)
}

.theme-dark .modal-yWgWj-, .theme-dark .footer-3rDWdC {
	background-color: rgba(25, 25, 25, .3);
}

.header-ykumBX {
	background-color: var(--unreadBox);
}*/
